<section class="section-partners">
    <h2 id='partners'>Our partners</h2>

    <div class="diamond partners">

        <h4 class="partners__title">Diamond</h4>

        <div class="partners__logos">

            <img src="img/logo-epam.png" alt="">
            <img src="img/logo-rs.png" alt="">
        </div>


    </div>

    <div class="gold partners">
        <h4 class="partners__title">Gold</h4>

        <div class="partners__logos">
            <img src="img/logo-emerline.png" alt="">
            <img src="img/logo-evolution-gaming.png" alt="">
        </div>
    </div>

    <div class="silver partners">
        <h4 class="partners__title">Silver</h4>

        <div class="partners__logos">
            <img src="img/logo-hqsoftware.png" alt="">
            <img src="img/logo-oxagile.png" alt="">
            <img src="img/logo-apalon.png" alt="">
        </div>
    </div>

    <div class="bronze partners">

        <h4 class="partners__title">Bronze</h4>



        <div class="partners__logos">
            <img src="img/logo-nikofirm.png" alt="">
        </div>

    </div>
</section>