<header class='header'>

    <div class='header-grid'>

        <div class="header__logo logo">

            <a href="/" class="logo__link">
                <img src="img/imaguru-logo.png" alt="" class='logo__picture'>

            </a>

            <a href="/" class="logo__link">
                <img src="img/LIAA-logo1.png" alt="" class='logo__picture'>
            </a>
        </div>

        <button class="header__navButton nav-toggle nav-toggle--width " id='menuToggle'>
            <div class="nav-toggle-grid nav-toggle--width">
                <span class="nav-toggle__burgerLine nav-toggle--width"></span>
                <span class="nav-toggle__burgerLine nav-toggle--width"></span>
                <span class="nav-toggle__burgerLine nav-toggle--width"></span>
            </div>
        </button>

        <nav class=" header__nav" id='menu'>
            <ul class="nav-grid">
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#destination">Destination</a>
                </li>
                <li>
                    <a href="#speakers">Speakers</a>
                </li>
                <li>
                    <a href="#photos">Photos</a>
                </li>
                <li>
                    <a href="#faq">FAQ</a>
                </li>
                <li>
                    <a href="#partners">Partners</a>
                </li>
            </ul>
        </nav>

    </div>


</header>