<section class="section-faq">
    <h2 id='faq'>FAQ</h2>


    <div class="  question">

        <h3 class="question__title">
            How do I get my train ticket?
        </h3>

        <p class="question__answer">
            The check-in for participants will be organized at Restaurant 1e Klas, located at platform 2B, Amsterdam Central Station.
        </p>
    </div>

    <div class="  question">

        <h3 class="question__title">
            From where is the Hackatrain departing?
        </h3>

        <p class="question__answer">
            The check-in for participants will be organized at Restaurant 1e Klas, located at platform 2B, Amsterdam Central Station.
        </p>
    </div>

    <div class="  question">

        <h3 class="question__title">
            What time is the Hackatrain departing?
        </h3>

        <p class="question__answer">
            The check-in for participants will be organized at Restaurant 1e Klas, located at platform 2B, Amsterdam Central Station.
        </p>
    </div>

    <div class="  question">

        <h3 class="question__title">
            What about the return trip?
        </h3>

        <p class="question__answer">
            The check-in for participants will be organized at Restaurant 1e Klas, located at platform 2B, Amsterdam Central Station.
        </p>
    </div>




</section>