<section class="section-speakers">
    <h2 id='speakers'>Speakers</h2>

    <div class="speakers-grid">
        <div class="speaker">
            <img src="img/speaker1.jpg" alt="" class='speaker__photo'>
            <a href="" class='speaker__name'>Mark</a>
            <p class="speaker__origin">USA</p>
        </div>

        <div class="speaker">
            <img src="img/speaker2.jpg" alt="" class='speaker__photo'>
            <a href="" class='speaker__name'>Lady Gaga</a>
            <p class="speaker__origin">USA</p>
        </div>

        <div class="speaker">
            <img src="img/speaker3.jpg" alt="" class='speaker__photo'>
            <a href="" class='speaker__name'>Some buddy</a>
            <p class="speaker__origin">USA</p>
        </div>

        <div class="speaker">
            <img src="img/speaker4.jpg" alt="" class='speaker__photo'>
            <a href="" class='speaker__name'>Some buddy</a>
            <p class="speaker__origin">Country</p>
        </div>

        <div class="speaker">
            <img src="img/speaker5.jpg" alt="" class='speaker__photo'>
            <a href="" class='speaker__name'>Name</a>
            <p class="speaker__origin">Country</p>
        </div>

    </div>


</section>