<section class="section-photos">
    <h2 id='photos'>SEE HOW IT WAS</h2>
    <div class="photos-grid">
        <img src="img/photo1.jpg" alt="" class="photos-grid__photo1 photos-grid__photo--width">
        <img src="img/photo2.jpg" alt="" class="photos-grid__photo2 photos-grid__photo--width">
        <img src="img/photo3.jpeg" alt="" class="photos-grid__photo3 photos-grid__photo--width">
        <img src="img/photo4.jpg" alt="" class="photos-grid__photo4 photos-grid__photo--width">
        <img src="img/photo5.png" alt="" class="photos-grid__photo5 photos-grid__photo--width">
        <img src="img/photo6.jpeg" alt="" class="photos-grid__photo6 photos-grid__photo--width">
        <img src="img/photo7.jpg" alt="" class="photos-grid__photo7 photos-grid__photo--width">
        <img src="img/photo8.jpg" alt="" class="photos-grid__photo8 photos-grid__photo--width">
        <img src="img/photo9.jpg" alt="" class="photos-grid__photo9 photos-grid__photo--width">
    </div>
    <button>
        <a href="">See all photos</a>
    </button>

</section>