<section class="section-destination">

    <h2 id='destination'>Destination</h2>



    <img src="img/Map.gif" alt="" class="map">


    <div class="agenda-grid">

        <div class="agenda">
            <h3 class="agenda__date"> Aug 30 </h3>

            <div class="agenda__schedule">

                <p> 17:00 - 17:30 Registration</p>
                <p>18:00 - 18:30 Opening Ceremony</p>
                <p>18:30 - 20:00 Pitching in Minsk / Hackathon Starts</p>
            </div>

        </div>

        <div class="agenda">
            <h3 class="agenda__date"> Aug 31 </h3>
            <div class="agenda__schedule">
                <p>09:00 - 11:00 Breakfast / Check-point</p>
                <p> 11:00 Mentoring Session</p>
                <p>13:00 - 14:00 Lunch</p>
                <p> 14:00 Mentoring Session</p>
                <p>18:00 - Dinner / Departure for train</p>
                <p> 20:15 - Train departures</p>
                <p>20:15 - … Hacking</p>

            </div>

        </div>

        <div class="agenda">

            <h3 class="agenda__date"> Sept 1 </h3>

            <div class="agenda__schedule">

                <p> 08:00 - Train Arrives to Riga</p>
                <p> 09:00 - 11:00 Breakfast / Check-point</p>
                <p> 11:00 Mentoring Session</p>
                <p> 13:00 - 14:00 Lunch</p>
                <p> 14:00 - 18:00 Final Preparation</p>
                <p> 18:00 - 19:30 Final Stage</p>
                <p> 19:30 - 21:00 Award Ceremony. Party</p>



            </div>
        </div>

    </div>


</section>