<section class="section-about">

    <h2 id='about'>About</h2>


    <p>
        <b>For the first time in Belarus!</b>
    </p>
    <p> Starting at Imaguru on August 30th, continuing on a train in Riga, finishing after our arrival in Riga and ending at
        ///. The now legendary Hackatrain attracts developers, designers and entrepreneurs from all over the world, all hoping
        to strike it big, hackathon-style. This isn’t your typical hackathon. Say goodbye to boring venues and hello to travelling
        around with more than 50 fellow hackers competing across mobility challenges.

    </p>

    <p>
        <b>Are you ready for Hackathon on Train Minsk-Riga?</b>
    </p>


</section>